<html>
    <head>
        <meta charset="UTF-8">
        <title>Untitle</title>
    </head>
    <body>
        <article>
            <h1>名前：沖祥太朗</h1>
        </article>
        <section>
            <h2>プロフィール</h2>
            <div class="content">
                <p>1996/09/30</p>
                <p>福岡県出身</p>
                <p>好きな食べ物はカレー</p>
            </div>
        </section>
        <section>
            <h2>スキル</h2>
            <div class="content">
                <p>言語：TypeScript,C#,html,css</p>
                <p>フレームワーク：Angular,.net framework</p>
                <p>プログラマー歴：一年弱</p>
            </div>
        </section>
    </body>
</html>

